body, h1, h2, p, ul {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial, sans-serif;
	line-height: 1.6;
	background-color: #f4f4f4;
	color: #333;
	margin: 0;
	text-align: center;
}

#heading {
	font-family: Blackadder ITC, Monotype Corsiva, Zapfino ;
	font-size: 50px;
}

header {
	background-color: #333;
	color: #fff;
	padding: 10px 0;
	text-align: center;
}

header h1 {
	margin: 10px 0;
}

#hero {
	background-image: url('images/hero-background-image.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 700px;
	padding: 20px;
    margin: 10px 0
}

@media (max-width: 768px) {
	#hero {
		height: 250px;
	}
}

nav ul {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: center;
}

nav ul li {
	margin: 0 15px;
	color: #FFFFFF;
}

nav ul li a {
	color: #FFFFFF;
	text-decoration: none;
	font-size: 18px;
	padding: 10px 15px;
	border-radius: 5px;
	transition: background-color 0.3s ease;
}

nav ul li a:hover {
	background-color: #FFD700;
	color: #333;
	padding: 10px 20px;
	border-radius: 10px;
	transition: all 0.3s ease;
}


#projects, #blog, #contact {
    padding: 20px;
    margin: 20px 0;
    background: #e9ecef;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.video-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.video-item {
    background-color: #e9ecef;
    border-radius: 10px;
    overflow: hidden;
    width: calc(33% - 20px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.video-item h3 {
    font-size: 1rem;
    padding: 10px;
    color: #333;
}

.video-item p {
    font-size: 0.9rem;
    color: #777;
    padding: 0 10px 10px;
}

@media (max-width: 900px) {
    .video-item {
        width: calc(50% - 20px);
    }
}

@media (max-width: 600px) {
    .video-item {
        width: 100%;
    }
}

h2 {
	color: #333;
	margin-bottom: 10px;
}

#about {
	background-color: #e9ecef;
	border-radius: 10px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
	margin: 20px 0;
}

/* 
.portfolio-button {
	display: inline-block;
	background-color: #007BFF;
	color: white;
	padding: 10px 20px;
	margin-top: 10px;
	text-decoration: none;
	border-radius: 5px;
	transition: background-color 0.3s;
}

.portfolio-button:hover {
	background-color: #0056b3;
} */


.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px;
}

.profile-photo img {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  margin-right: 70px;
}

.profile-text {
  max-width: 700px;
  text-align: left;
  color: #333;
}

.portfolio-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 10px;
}

.portfolio-button:hover {
  background-color: #0056b3;
}



/* PORTFOLIO CODE START*/

#skills, #education, #extracurricular, #hobbies {
	text-align: left;
    margin-bottom: 60px;
    padding: 20px;
    background-color: #e9ecef;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	max-width: 800px;
    margin: 0 auto;
}

#portfolio-text {
    font-family: 'Arial', sans-serif;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    color: #333;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    margin: 40px 0;
}

#portfolio-text-h2 {
    color: #007BFF;
    font-size: 24px;
    text-decoration: underline;
    margin-bottom: 15px;
}

#portfolio-text-h2 {
    color: #007BFG;
}

#portfolio-ul {
    list-style-type: disc;
    padding-left: 20px;
    line-height: 1.6;
}

#portfolio-p {
    line-height: 1.6;
}

/* #portfolio-li {
    margin-bottom: 10px;
} */

/* PORTFOLIO CODE END */


footer {
	background-color: #333;
	color: #fff;
	text-align: center;
	padding: 10px 0;
}
